* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    
}

header {
    background-color: #894789;
    height: 10vh;
    display: flex;
    font-size: 20px;
    color: cornsilk;
    justify-content: space-between;
    padding: 0% 2vw;
    align-items: center;
}

.fotoUsuario {
   width: 5vw;
}

.fotoLogo {
    width: 30vw;
}

.flecha {
    margin-top: 2vw;
    width: 5vw;
}

.flecha:hover {
    transform: scale(1.4);
    cursor: pointer;
    transition: .75s ease;
}

.divLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    padding-left: 2vw;
    color: #ffffff;
}

nav a:hover {
    color: rgb(255, 177, 242);
    text-decoration: none;
}

nav .active {
    color: rgb(42, 205, 255);
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotosMain {
    display: flex;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

footer {
    background-color: #894789;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: cornsilk;
}

footer p {
    padding-top: 20px;
    font-size: 1vw;
    text-align: center;
}

.textoFlecha {
    font-size: 20px;
    font-weight: bolder;
    background-color: aqua;
    padding: 1vw;
    border-radius: 30px;
}

.cities {
    margin-bottom: 20vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* --------Carrusel----------- */

.contenedorPadre {
    padding: 2vh;
    
}

.contenedorImg {
    width: 48%;
    height: 48%;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    margin: 1%;
    border-radius: 15px;
}

.contenedorSlide {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-next, .carousel-control-prev {
    margin: 0 -5vw;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.fotoCiudad {
    width: 50vw;
}

.divCarrusel {
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoCarrusel {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(221, 83, 221);
    padding: 15px;
    border-radius: 30px;
}